@import "variables.scss";

////font style
// font weight upload 400, 700, 900
@mixin font-one-italic{
    font-family: $font;
    font-weight: 400;
    font-style: italic;
}
@mixin font-one{
    font-family: $font;
    font-weight: 400;
}
@mixin font-two{
    font-family: $font;
    font-weight: 700;
}
@mixin font-three{
    font-family: $font;
    font-weight: 900;
}
//// animation hover
@mixin animation-time{
    transition: .2s;
    transition-delay: .1s;
}
////content position style
@mixin content-width-desktop{
    margin: 0 auto;
    max-width: 1000px;
}
////btn
@mixin radial-btn-dark{
    letter-spacing: normal;
    text-align: center;
    color: #333b46;
    font-size: 16px;

    padding: 12px 35px;

    background: none;
    border: 1px solid #333b46;
    border-radius: 50px;
}
@mixin radial-btn-light{
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    font-size: 16px;

    padding: 12px 35px;

    background: none;
    border: 1px solid #fff;
    border-radius: 50px;
}