@import "variables.scss";

////font style
// font weight upload 400, 700, 900
@mixin font-one-italic{
    font-family: $font;
    font-weight: 400;
    font-style: italic;
}
@mixin font-one{
    font-family: $font;
    font-weight: 400;
}
@mixin font-two{
    font-family: $font;
    font-weight: 700;
}
@mixin font-three{
    font-family: $font;
    font-weight: 900;
}
//// animation hover
@mixin animation-time{
    transition: .2s;
    transition-delay: .1s;
}
////content position style
@mixin content-width-desktop{
    margin: 0 auto;
    max-width: 1000px;
}