@import "variables.scss";
@import "mixins.scss";


*{
    margin: 0;
    padding: 0;
    user-select: none; 
    box-sizing: border-box;

    @include font-one;
}
a, img {
    cursor: pointer;
}
.content-position{
    margin: 0 auto;
    max-width: 1100px;
    padding-left: 10px;
    padding-right: 10px;
}
// all styles

body{
    background-color: #fff;
    header{
        padding-top: 40px;
        background-image: url(../assets/bg/header-bg.png);
        background-size: 100% 100vh;
        height: 100vh;
        .nav-wrap{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .logo-wrap{
                padding: 10px;
                .logo{
                    width: 110px;
                }
            }
            .nav-items{
                ul{
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    .item{
                        padding: 10px 20px;
                        border: 2px solid transparent;

                        @include animation-time;
                        a{
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                    .item:last-child{
                        margin-right: 0;
                    }
                    .item:hover{
                        border: 2px solid #fff;
                        border-radius: 50px;
                    }
                }
            }
        } 
        .header-title{
            margin-top: 270px;
            margin-bottom: 300px;
            .title-suptitle{
                font-size: 45px;
                letter-spacing: 7px;
                text-align: center;
                color: #fff;
                padding-bottom: 45px;
            }
            .title-subtitle{
                font-size: 18px;
                letter-spacing: 0.8px;
                text-align: center;
                color: #ffffff;
            }
        }
        .header-btn{
            display: flex;
            justify-content: center;
            a{
                .btn{
                    opacity: .7;
                    @include animation-time;
                }
                .btn:hover{
                    opacity: 1;
                }
            }
        }
    }
    main{
        .main-section-1{
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding-top: 80px;
            padding-bottom: 50px;
            .description-wrap{
                width: 470px;
                .heading{
                    @include heading;
                    text-align: left;
                    margin-bottom: 50px;
                    text-transform: uppercase;
                }
                .text{
                    @include text;
                    text-align: left;
                    margin-bottom: 30px;
                }
                .btn{
                    @include radial-btn-dark;
                }
            }
            .img-wrap{
                margin: 10px;
                .img{
                    width: 250px;
                }
            }
        }
        .main-section-2{
            background-color: #f3f3f3;
            padding-top: 100px;
            padding-bottom: 100px;
            .content{
                .heading-1{
                    @include heading;

                    margin-bottom: 40px;
                }
                .text{
                    @include text;

                    margin-bottom: 60px;
                }
                .icon-wrap{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 70px;
                    .icon{
                        width: 53px;
                        height: 53px;

                        margin: 0 20px;
                    }
                }
                .heading-2{
                    font-size: 20px;
                    letter-spacing: 4px;
                    text-transform: uppercase;
                    color: #333b46;
                    text-align: center;

                    margin-bottom: 40px;

                    font-weight: 700;
                }
                .paragraf-wrap{
                    display: flex;
                    justify-content: space-around;
                    .text{
                        @include text;
                        text-align: left;

                        margin-bottom: 0;
                    }
                }
            }
        }
        .main-section-3{
            padding-top: 80px;
            .heading-wrap{
                .heading{
                    @include heading;
                    margin-bottom: 40px;
                }
                .text{
                    @include text;
                    margin-bottom: 60px;
                }
            }
            .content-wrap{
                display: flex;
                .img-wrap{
                    background-color: #151515;
                    position: relative;
                    height: 300px;
                    width: 100%;
                    min-width: 150px;
                    overflow: hidden;

                    @include animation-time;
                    .img-text{
                        position: absolute;
                        top: 50%;
                        left: 40%;

                        font-size: 20px;
                        letter-spacing: 4px;
                        color: #ffffff;

                        text-transform: uppercase;

                        @include animation-time;
                    }
                    img{
                        opacity: .1;
                        width: 800px;
                        height: 300px;

                        @include animation-time;
                    }
                    img:hover{
                        opacity: 1;
                    }
                }
                .img-wrap:hover{
                    width: 130%;
                }
                .img-wrap:hover .img-text{
                    display: none;
                }
            }
            .sub-wrap{
                background-image: url(../assets/bg/fold-bg.png);
                height: 110px;
                background-position: center;
                .sub-content{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-top: 30px;
                    p{
                        font-size: 20px;
                        line-height: 1.25;
                        letter-spacing: 0.8px;
                        color: #ffffff;
                    }
                    .btn{
                        @include radial-btn-light;
                    }
                }
            }
        }
        .main-section-4{

        }
        .main-section-5{

        }
        .main-section-6{

        }
        .main-section-7{

        }
        .main-section-8{

        }
        .main-section-9{

        }
        .main-section-10{

        }
        .main-section-11{

        }
        .main-section-12{

        }
        .main-section-13{

        }
        .main-section-14{

        }
        .main-section-15{

        }
    }
}
@import "media.scss";
 