@import "variables.scss";
@import "mixins.scss";


*{
    margin: 0;
    padding: 0;
    user-select: none; 
    box-sizing: border-box;
}
a, img {
    cursor: pointer;
}
// all styles

body{
    
}
@import "media.scss";
